* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19172e;
}

section::before {
    content: '';
    width: 300px;
    height: 300px;
    position: absolute;
    top: 10%;
    right: 20%;
    border-radius: 10px;
    background-image: linear-gradient(#ff3c8d, #7b00a0);
    animation: animate 5s ease-in-out infinite;
}

section::after {
    content: '';
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 10%;
    left: 20%;
    border-radius: 10px;
    background-image: linear-gradient(#01d6ff, #0f24f9);
    animation: animate 5s ease-in-out infinite;
    animation-delay: -2.5s;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(-50%);
    }
}

.clock {
    width: 700px;
    height: 250px;
    position: relative;
    z-index: 999;
    background-color: rgba(255,255,255,0.05);
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
}

.clock .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock .container h2 {
    font-size: 6em;
    color: #f0f0f0;
}

.clock .container h2:nth-child(odd) {
    margin: 0 10px;
    padding: 5px 15px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.05);
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}

.clock .container h2#seconds {
    color: #f9d524;
}

#ampm {
    position: relative;
    top: -50px;
    font-size: 2em;
    color: #f0f0f0;
    font-weight: 700;
}

@media screen and (max-width: 1100px) {
    section::before {
        width: 300px;
        height: 300px;
        top: 25%;
        right: 10%;
    }

    section::after {
        width: 250px;
        height: 250px;
        bottom: 25%;
        left: 10%;
    }
}

@media screen and (max-width: 540px) {
    section::before {
        width: 150px;
        height: 150px;
        top: 30%;
        right: 5%;
    }

    section::after {
        width: 120px;
        height: 120px;
        bottom: 30%;
        left: 5%;
    }

    .clock {
        width: 350px;
        height: 120px;
    }

    .clock .container h2 {
        font-size: 3em;
    }

    .clock .container h2:nth-child(odd) {
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0 5px;
    }

    #ampm {
        top: -25px;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 320px) {
    section::before {
        width: 130px;
        height: 130px;
        top: 30%;
        right: 5%;
    }

    section::after {
        width: 100px;
        height: 100px;
        bottom: 30%;
        left: 5%;
    }

    .clock {
        width: 100%;
        height: 100px;
        border-radius: 0;
    }

    .clock .container h2 {
        font-size: 2.5em;
    }

    .clock .container h2:nth-child(odd) {
        padding: 3px 8px;
        border-radius: 3px;
        margin: 0 3px;
    }

    #ampm {
        top: -20px;
        font-size: 1em;
    }
}