*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffde2a;
}

.player {
    height: 200px;
    width: 150px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #840931;
    border: 10px solid #000;
    border-bottom: none;
    border-radius: 60px 80px 0 0;
    z-index: 1;
}

.player::after {
    content: "";
    width: 95%;
    height: 85%;
    position: absolute;
    background-color: #ea1616;
    top: 2.5px;
    left: 4px;
    border-radius: 56% 67% 28% 42% / 88% 89%;
}

.legs {
    height: 50px;
    width: 60px;
    background-color: #840931;
    position: absolute;
    bottom: -50px;
    left: -10px;
    border: 10px solid #000;
    border-top: none;
    border-radius: 0 0 22px 22px;
}

.legs::before {
    content: "";
    height: 45px;
    width: 60px;
    background-color: #840931;
    position: absolute;
    right: -100px;
    border: 10px solid #000;
    border-top: none;
    border-radius: 0 0 22px 22px;
}

.legs::after {
    content: "";
    height: 10px;
    width: 65px;
    position: absolute;
    top: -10px;
    left: 40px;
    background-color: #000;
    border-radius: 0 0 10px 0;
}

.back {
    height: 120px;
    width: 35px;
    position: absolute;
    left: -45px;
    top: 65px;
    background-color: #ea1616;
    border: 10px solid #000;
    border-right: none;
    border-radius: 20px 0 0 20px;
}

.back::before {
    content: "";
    height: 78px;
    width: 26px;
    position: absolute;
    left: -1px;
    bottom: -0.5px;
    background-color: #840931;
    border-radius: 12px 0 0 8px;
}

.glass {
    height: 75px;
    width: 110px;
    position: absolute;
    top: 30px;
    left: 45px;
    background-color: #225381;
    border: 10px solid #000;
    border-radius: 25px 50px 30px 30px;
    z-index: 2;
}

.glass::before {
    content: "";
    width: 85%;
    height: 65%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #71d4ec;
    border-radius: 0 28px 3px 30px;
}

.glass::after {
    content: "";
    width: 45%;
    height: 22%;
    position: absolute;
    left: 39px;
    top: 5px;
    background-color: #f7f7f7;
    border-radius: 10px;
    transform: rotate(6deg);
}

.shadow {
    height: 40px;
    width: 210px;
    position: absolute;
    bottom: -60px;
    right: -40px;
    background-color: rgba(153, 130, 0, 0.2);
    border-radius: 50%;
    z-index: -1;
}