* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

h1 {
    padding: 15px;
    text-align: center;
    background-color: #41acbe;
    color: #f0fdff;
}

p {
    text-align: center;
    font-size: 1.25em;
}

.playground {
    height: calc(100vh - 110px);
    width: 95%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    background-color: #121232;
    border-radius: 20px;
}

.ball {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 200px;
    left: 200px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}